{% extends "base.html" %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">FN6 Students List</h1>
    </div> 
    <main class="container">
    <div class="bg-body-tertiary p-5 rounded">
      <h2>{{students.name}}</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo id quae amet rem culpa eos debitis, labore perferendis excepturi, reprehenderit nostrum blanditiis magni expedita quam dolores quas dicta rerum animi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi tempore molestiae eum perferendis, ad nobis voluptate quasi porro aspernatur. Officiis nam, cupiditate sint iure et soluta magni rerum optio ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, similique voluptatibus qui, asperiores possimus hic necessitatibus omnis, quos expedita deleniti rem eveniet tempora unde voluptatem officiis minus. Atque, recusandae nam.</p>
    </div>
  </main>
</main>

{% endblock content %}