{% extends 'base.html' %}

{% block content %}

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article class="introtxt">
      <h2 class="heading">{{book.name}}</h2>
      <p>{{book.description}}</p>
      <footer>
        <h2>Readed {{book.views}} times</h2>
        <h2> {{book.author}}</h2>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>


{% endblock content %}